body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  background-color: $background-color;
  color: $text-color;
  text-size-adjust: 100%;
  /* height: 100%;
  overflow: hidden; */
  @media (max-width: $on-laptop) {
    font-size: $mobile-font-size;
  }
  .colored-text::selection {
    background: inherit;
  }
  ::selection {
    // background: inherit;
    background: rgba($selection-background-color, 0.75);
    -webkit-background-clip: unset !important;
		-webkit-text-fill-color: $selection-color !important;
  }

}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 38px;
  line-height: 1.4em;
  @media screen and (max-width: $on-laptop) {
    font-size: 32px;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 27px;
  }
}


h2 {
  font-size: 30px;
  line-height: 1.4em;
  @media screen and (max-width: $on-laptop) {
    font-size: 28px;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 24px;
  }
}

h3 {
  font-size: 26px;
  line-height: 1.2em;
  @media screen and (max-width: $on-laptop) {
    font-size: 24px;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 20px;
  }
}

h4 {
  font-size: 19px;
  line-height: 1.3em;
  @media screen and (max-width: $on-laptop) {
    font-size: 19;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 18px;
  }
}

strong {
  font-weight: 400;
}

a {
  font-size: 1em;
  color: $text-color;
  text-decoration: underline;
  font-weight: 300;
  cursor: crosshair;
  &.animated {
    text-decoration: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 0.05em;
      bottom: 0;
      background-color: $text-color;
      left: 0;
      width: 0;
      transition: 0.25s ease;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

// a:hover {
//   text-decoration: line-through;
// }