html,
body {
  font-family: var(--bs-font-sans-serif);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: $base-line-height;
  text-size-adjust: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  @media (max-width: $on-laptop) {
    font-size: $mobile-font-size;
  }
  .colored-text::selection {
    background: inherit;
  }
  ::selection {
    // background: inherit;
    background: var(--selection-background-color);
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: var(--selection-color) !important;
  }
}
