html, body {
  font-family: var(--bs-font-sans-serif);
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  text-size-adjust: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  @media (max-width: $on-laptop) {
    font-size: $mobile-font-size;
  }
  .colored-text::selection {
    background: inherit;
  }
  ::selection {
    // background: inherit;
    background: var(--selection-background-color);
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: var(--selection-color) !important;
  }
}
body {
  /* height: 100%;
  overflow: hidden; */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.25rem;
  line-height: 1.3em;
  @media screen and (max-width: $on-laptop) {
    font-size: 2.7rem;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 1.5rem;
  }
}


h2 {
  font-size: 2.25rem;
  line-height: 1.4em;
  @media screen and (max-width: $on-laptop) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.82rem;
  line-height: 1.2em;
  @media screen and (max-width: $on-laptop) {
    font-size: 24px;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 20px;
  }
}

h4 {
  font-size: 1.421rem;
  line-height: 1.1em;
  @media screen and (max-width: $on-laptop) {
    font-size: 20px;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 18px;
  }
}

strong {
  font-weight: 400;
}

a {
  font-size: 1em;
  color: var(--text-color);
  text-decoration: underline;
  font-weight: 400;
  cursor: crosshair;
  &.animated {
    text-decoration: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 0.05em;
      bottom: 0;
      background-color: var(--text-color);
      left: 0;
      width: 0;
      transition: 0.25s ease;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

// a:hover {
//   text-decoration: line-through;
// }