/* Reset some basic elements */
* {
  letter-spacing: var(--letter-spacing);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-top: calc(#{$spacing-unit} / 2);
  margin-bottom: calc(#{$spacing-unit} / 2);
}

/* Images */
img {
  vertical-align: middle;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/* Lists */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/* Headings */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3em;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.3em;
  @media screen and (max-width: $screen-lg) {
    font-size: 2.25rem;
  }
  @media screen and (max-width: $screen-md) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3em;
}

h3 {
  font-size: 1.45rem;
  @media screen and (max-width: $screen-lg) {
    font-size: 1.35rem;
  }
  @media screen and (max-width: $screen-md) {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

/* Links */
a {
  cursor: pointer;
  color: var(--text-color);
  &:visited {
    color: color-mod(var(--text-color) shade(15%));
  }
}

/* Blockquotes */
blockquote {
  padding-left: calc(#{$spacing-unit} / 2);
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  > :last-child {
    margin-bottom: 0;
  }
}

/* Code formatting */
pre,
code,
pre > *,
code > * {
  font-size: 1em;
  font-family: "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace !important;
}

code:not([class*="language-"]) {
  padding: 0.2em 0.35em;
  background-color: var(--code-background-color);
  border-radius: 0.25em;
  font-size: 0.85em;
}

pre {
  overflow-x: scroll;
  padding: 8px 12px;
  border-radius: 0.25em;
  > code {
    padding-right: 0;
    padding-left: 0;
    border: 0;
  }
}

/* Wrapper */
.wrapper {
  height: 100%;
  width: 100%;
}

/* Icons */
.icon {
  > svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    path {
      fill: $grey-color;
    }
  }
}
