/* Reset some basic elements */
* {
  letter-spacing: var(--letter-spacing);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-top: calc(#{$spacing-unit} / 2);
  margin-bottom: calc(#{$spacing-unit} / 2);
}

/* Images */
img {
  vertical-align: middle;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/* Lists */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/* Headings */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  line-height: 1.3em;
  @media screen and (max-width: $on-laptop) {
    font-size: 2.7rem;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 1.5rem;
  }
}


h2 {
  font-size: 2.25rem;
  line-height: 1.4em;
  @media screen and (max-width: $on-laptop) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.82rem;
  line-height: 1.2em;
  @media screen and (max-width: $on-laptop) {
    font-size: 24px;
  }
  @media screen and (max-width: $on-palm) {
    font-size: 20px;
  }
}

h4 {
  font-size: 1.3rem;
  // font-size: 1.421rem;
  // line-height: 1.1em;
  // @media screen and (max-width: $on-laptop) {
  //   font-size: 20px;
  // }
  // @media screen and (max-width: $on-palm) {
  //   font-size: 18px;
  // }
}

/* Links */
a {
  cursor: pointer;
  color: var(--text-color);
  &:visited {
    color: color-mod(var(--text-color) shade(15%));
  }
}

/* Blockquotes */
blockquote {
  padding-left: calc(#{$spacing-unit} / 2);
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  >:last-child {
    margin-bottom: 0;
  }
}

/* Code formatting */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: var(--alternate-background-color);
  color: var(--alternate-text-color);
}

code {
  padding: 1px 5px;
}

pre {
  overflow-x: scroll;
  padding: 8px 12px;
  > code {
    padding-right: 0;
    padding-left: 0;
    border: 0;
  }
}

/* Wrapper */
.wrapper {
  height: 100%;
  width: 100%;
}

/* Icons */
.icon {
  > svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    path {
      fill: $grey-color;
    }
  }
}

