@use "sass:math";

/* Variables */

$base-font-size: 16px;
$mobile-font-size: 16px;
$small-font-size: calc(#{$base-font-size} * 0.875);
$base-line-height: 1.25;

$spacing-unit: 30px;

$text-color: #dac6a6;
$background-color: #000000;
$brand-color: #415144;
$selection-color: $text-color;
$selection-background-color: #ffc6c7;

$grey-color: #828282;
$grey-color-light: color-mod($grey-color lightness($grey-color));
$grey-color-dark: color-mod($grey-color shade(40%));

$on-palm: 500px;
$on-laptop: 800px;

$dot-width: 10px;
$dot-height: 10px;
$dot-radius: math.div($dot-width, 2);

$dot-color: #dac6a6;
$dot-bg-color: $dot-color;
$dot-before-color: $dot-color;
$dot-after-color: $dot-color;

$dot-spacing: $dot-width + math.div($dot-width, 2);

$screen-sm: 500px;
$screen-md: 768px;
$screen-lg: 1280px;
$screen-xl: 1440px;

:root {
  --base-font-size: 13px;
  --base-small-caps-size: 14px;
  --background-color: #fafafa;
  --background-color-rgb: 250, 250, 250;
  --footer-background-color: #000000;
  --footer-font-color: #fafafa;
  --alternate-background-color: #f1f1f1;
  --alternate-text-color: #2a2a2a;
  --alternate-text-color-rgb: 42, 42, 42;
  --nav-background-color: rgba(var(--background-color-rgb), 0.7);
  --code-background-color: #eeeeee;
  --text-color: #000000;
  --text-color-rgb: 0, 0, 0;
  --text-color-light: #7f7f7f;
  --link-color: #dac6a6;
  --border-color: #eaeaea;
  --selection-color: var(--text-color);
  --selection-background-color: #ebd4f1;
  --masthead-color: #543fd7;
  --masthead-text: #fff;
  --button-color: #3b60e4;
  --button-color-darken: hsl(227, 76%, 45%);
  --button-text: #fff;
  --letter-spacing: -0.03em;
  --bs-font-sans-serif:
    "Montserrat", "Vazirmatn", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-sans-serif-arabic:
    "Vazirmatn", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: Georgia, serif;
  --bs-font-monospace:
    "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --card-background: #ffffff;
  --card-shadow-color: rgba(0, 0, 0, 0.1);

  --primary-color: #f9a020;
  --primary-color-context: #000000;

  @media (min-width: $screen-lg) {
    --base-font-size: 15px;
    --base-small-caps-size: 16px;
  }
  @media (min-width: $screen-md) {
    --base-font-size: 15px;
    --base-small-caps-size: 16px;
  }
}

html.dark {
  --background-color: #111111;
  --background-color-rgb: 0, 0, 0;
  --alternate-background-color: #232323;
  --alternate-text-color: #fafafa;
  --alternate-text-color-rgb: 250, 250, 250;
  --nav-background-color: rgb(17, 17, 17, 0.7);
  --code-background-color: #1e1e1e;
  --border-color: #eaeaea;
  --text-color: #ffffff;
  --text-color-rgb: 255, 255, 255;
  --text-color-light: #cccccc;
  --link-color: #dddddd;
  --selection-color: var(--text-color);
  --selection-background-color: #9b6a83;
  --masthead-color: #543fd7;
  --masthead-text: #fff;
  --button-color: #f5e5ca;
  --button-text: #fff;
  --bs-font-sans-serif:
    "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: Georgia, serif;
  --bs-font-monospace:
    "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --card-background: var(--background-color);
  --card-shadow-color: rgba(var(--text-color-rgb), 0.1);
}
