.styles {
  max-width: 400px;
  margin: 0 auto;
  padding: 5em 20px;
  input {
    background: #edeff2;
    border: 1px solid #dee1e7;
    appearance: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    &::placeholder {
      color: #6e6e6e;
    }
    &:focus,
    &:active,
    &:hover {
      background: rgb(224, 230, 237);
    }
  }
  button {
    appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--button-text);
    &:hover {
      background-color: var(--button-color-darken);
    }
  }
}

.input-element {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.5em;
  }
  input {
    margin-bottom: 0.5em;
  }
}
