/* Grid */
.flex-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  width: auto;
  flex: 1;
  &:first-child {
    flex: unset;
    > span {
      vertical-align: middle;
      display: inline-block;
      display: inline-flex;
    }
  }
  &:last-child {
    flex: unset;
  }
}

/* Page content */
.page-content,
.post-content,
.project-content {
  padding-top: 75px;
  min-height: calc(100vh - 107px);
  @media (max-width: $screen-sm) {
    min-height: calc(100vh - 126px);
  }
  @media (max-width: $on-palm) {
    padding-top: 85px;
  }
}

/* Coming soon */
.coming-soon-container {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
