/* Global */
html,
body {
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }

  font-family: var(--mr-bs-font-sans-serif);
  font-size: var(--mr-base-font-size);
  font-weight: 400;
  line-height: $base-line-height;
  text-size-adjust: 100%;
  color: var(--mr-text-color);
  background-color: var(--mr-background-color);
  @media (max-width: $on-laptop) {
    font-size: $mobile-font-size;
  }
  .colored-text::selection {
    background: inherit;
  }
  ::selection {
    background: var(--mr-selection-background-color);
    -webkit-background-clip: unset !important;
    -webkit-text-fill-color: var(--mr-selection-color) !important;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--mr-border-color);
  margin: 1em 0;
}
