/* Nav */
.main-nav {
  // background-color: rgba(0,0,0,0.75);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 75px;
  overflow: hidden;
  transition: 0.25s ease;
  background-color: var(--nav-background-color);
  @media (max-width: $on-laptop) {
    height: 45px + 15px;
  }
  &.open {
    height: 100%;
  }

  .flex-grid {
    align-items: center;
    justify-content: space-between;
  }

  .col {
    width: auto;
    flex: 1;
    &:first-child {
      flex: unset;
      > span {
        vertical-align: middle;
        display: inline-block;
        display: inline-flex;
      }
    }
    &:last-child {
      flex: unset;
    }
    
  }

  .container {
    height: 100%;
    padding: 15px 20px 15px;
    display: flex;
    flex-direction: column;
    @media (max-width: $on-laptop) {
      padding: 15px 20px 10px;
    }
  }
  .nav-icon {
    margin: 0;
    height: 45px;
    width: 45px;
  }
  .navigation-list {
    margin: 0;
    font-size: 50px;
    padding: 50px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    @media (max-width: $screen-md-max) {
      font-size: 42px;
    }

    li {
      margin-bottom: 0.75em;
      a {
        font-size: 1em;
        text-decoration: none;
        @media (max-width: $screen-md-max) {
          font-size: 0.7em;
        }
      }
    }

    li.logout {
      margin-top: auto;
      border-top: 1px solid var(--text-color-light);
      padding-top: 0.5em;
    }
  }
  
  .nav-icon-link {
    display: inline-block;
  }

  .page-title {
    font-size: 1.1em;
    margin-left: 20px;
    vertical-align: middle;
    &:only-child {
      margin: 0;
    }
  }
  
  /* Hamburger Menu */
  .McButton {
    $bar-w: 40px;
    $bar-w-sm: 25px;
    $bar-h: 3px;
    $bar-h-sm: 2.5px;
    $bar-color: var(--text-color);
    position: relative;
    display: inline-block;
    width: $bar-w;
    vertical-align: middle;
    height: 45px;
    cursor: pointer;
    @media (max-width: $screen-md-max) {
      width: $bar-w-sm;
    }
    b {
      // position: absolute;
      // left: 0;
      position: relative;
      display: block;
      width: $bar-w;
      height: $bar-h;
      background-color: $bar-color;
      transition: 0.5s ease;
      @media (max-width: $screen-md-max) {
        width: $bar-w-sm;
        height: $bar-h-sm;
      }
      &:nth-child(1) {
        top: 30%;
        @media (max-width: $screen-md-max) {
          top: 30%;
        }
      }
      &:nth-child(2) {
        top: 50%;
        @media (max-width: $screen-md-max) {
          top: 45%;
        }
      }
    }
    &.active {
      b {
        &:nth-child(1) {
          transform: rotateZ(45deg) scale(0.9) translate(6px, 6.5px);
        }
        &:nth-child(2) {
          transform: rotateZ(-45deg) scale(0.9) translate(4px, -3px);
          @media (max-width: $on-laptop) {
            transform: rotateZ(-45deg) scale(0.9) translate(2px, -1.5px)
          }
        }
      }
    }
  }/* McButton */
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header */
header {
  .contact-details {
    padding-top: 10px;
    @media (max-width: $on-laptop) {
      padding-top: 0;
    }
    a {
      text-decoration: none;
      display: inline-block;
      margin-bottom: 10px;
      h4 {
        margin: 0;
      }
    }
  }
  .flex-grid .col {
    @media (max-width: $on-laptop) {
      width: 100%;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media (max-width: $on-palm) {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}