.page-title {
  color: rgba(var(--alternate-text-color-rgb), 0.15);

  -webkit-background-clip: text;
  background-image: radial-gradient(
    closest-side,
    var(--alternate-text-color) 100%,
    transparent 0
  );
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
.page-404 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(var(--background-color-rgb), 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    var(--background-color) 150px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    var(--background-color) 150px
  );
}
