/* Variables */

$base-font-family: 'Poppins', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$mobile-font-size:   17px;
$small-font-size:  calc(#{$base-font-size} * .875);
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #DAC6A6;
$background-color: #000000;
$brand-color: #415144;
$selection-color: $text-color;
$selection-background-color: #9B6A83;

$grey-color: #828282;
$grey-color-light: color-mod($grey-color lightness($grey-color));
$grey-color-dark: color-mod($grey-color shade(40%));

$on-palm: 500px;
$on-laptop: 800px;

$dot-width: 10px;
$dot-height: 10px;
$dot-radius: $dot-width/2;

$dot-color: #DAC6A6;
$dot-bg-color: $dot-color;
$dot-before-color: $dot-color;
$dot-after-color: $dot-color;

$dot-spacing: $dot-width + $dot-width/2;